- @content_class = "limit-container-width" unless fluid_layout
- page_title _("Tracing")

.gl-alert.gl-alert-danger.gl-mb-5
  - removal_epic_link_url = 'https://gitlab.com/groups/gitlab-org/-/epics/7188'
  - removal_epic_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer" class="gl-link">'.html_safe % { url: removal_epic_link_url }
  - opstrace_link_url = 'https://gitlab.com/groups/gitlab-org/-/epics/6976'
  - opstrace_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer" class="gl-link">'.html_safe % { url: opstrace_link_url }
  - link_end = '</a>'.html_safe
  .gl-alert-container
    = sprite_icon('error', css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
    .gl-alert-content
      .gl-alert-title
        = s_('Deprecations|Feature deprecation and removal')
      .gl-alert-body
        %p
          = html_escape(s_('Deprecations|The logs and tracing features were deprecated in GitLab 14.7, and are %{removal_link_start} scheduled for removal %{link_end} in GitLab 15.0. For information on a possible replacement, %{opstrace_link_start} learn more about Opstrace %{link_end}.')) % {removal_link_start: removal_epic_link_start, opstrace_link_start: opstrace_link_start, link_end: link_end }

- if @project.tracing_external_url.present?
  %h1.page-title.gl-font-size-h-display= _('Tracing')
  .gl-alert.gl-alert-info.gl-mb-5
    .gl-alert-container
      = sprite_icon('information-o', css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
      .gl-alert-content
        .gl-alert-body
          = _("Your password isn't required to view this page. If a password or any other personal details are requested, please contact your administrator to report abuse.")
  - jaeger_link = link_to('Jaeger tracing', 'https://www.jaegertracing.io/', target: "_blank", rel: "noreferrer")
  %p.light= _("GitLab uses %{jaeger_link} to monitor distributed systems.").html_safe % { jaeger_link: jaeger_link }


  .card
    - iframe_permissions = "allow-forms allow-scripts allow-same-origin allow-popups"
    %iframe.border-0{ src: sanitize(@project.tracing_external_url, scrubber: Rails::Html::TextOnlyScrubber.new), width: '100%', height: 970, sandbox: iframe_permissions }
- else
  .row.empty-state
    .col-12
      .svg-content
        = image_tag 'illustrations/monitoring/tracing.svg'

    .col-12
      .text-content
        %h4.text-left= _('Troubleshoot and monitor your application with tracing')
        %p
          - jaeger_help_url = "https://www.jaegertracing.io/docs/getting-started/"
          - link_start_tag = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: jaeger_help_url }
          - link_end_tag = "#{sprite_icon('external-link', css_class: 'ml-1 vertical-align-middle')}</a>".html_safe
          = _('Add a Jaeger URL to replace this page with a link to your Jaeger server. You first need to %{link_start_tag}install Jaeger%{link_end_tag}.').html_safe % { link_start_tag: link_start_tag, link_end_tag: link_end_tag }

          .text-center
            = render 'tracing_button'
